* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(221, 100%, 96%);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main {
    min-width: 300px;
    width: 40%;
    height: auto;
    border: 1px solid black;
    display: flex;
    border-radius: 20px;
}
.your-result, .summary {
    width: 50%;
    border: 1px solid black;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 30px;
}
.summary {
    border: none;
}
.reaction, .memory, .verbal, .visual {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.score {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    border-radius: 50%;;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
button {
    width: 100%;
    border: none;
    padding: 18px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 40px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.img-text {
    display: flex;
    gap: 10px;
}
.reaction {
    color: hsl(0, 100%, 67%);
}
.memory {
    color: hsl(39, 100%, 56%);
}
.verbal {
    color: hsl(166, 100%, 37%);
}
.visual {
    color: hsl(234, 85%, 45%);
}