* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(241, 100%, 89%);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}
main {
    min-width: 300px;
    width: 700px;
    display: flex;
    border-radius: 30px;
    background-color: #fff;
}
.your-result, .summary {
    width: 50%;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
}
.your-result {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: #fff;
}
.your-result > p {
    text-align: center;
}
.summary {
    border: none;
    align-items: flex-start;
}
.reaction, .memory, .verbal, .visual {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.score {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    border-radius: 50%;;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(256, 72%, 46%, .75), hsla(256, 72%, 46%, .5), hsla(256, 72%, 46%, 0));
    align-items: center;
    justify-content: center;
}
button {
    width: 100%;
    border: none;
    padding: 18px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 40px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.img-text {
    display: flex;
    gap: 10px;
}
.reaction {
    color: hsl(0, 100%, 67%);
}
.memory {
    color: hsl(39, 100%, 56%);
}
.verbal {
    color: hsl(166, 100%, 37%);
}
.visual {
    color: hsl(234, 85%, 45%);
}