* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(241, 100%, 89%);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}
main {
    min-width: 350px;
    width: 700px;
    display: flex;
    border-radius: 30px;
    background-color: #fff;
}
.your-result, .summary {
    width: 50%;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
}
.your-result {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: #fff;
}
.your-result > p {
    text-align: center;
}
.summary {
    align-items: flex-start;
    padding-left: 35px;
    padding-right: 35px;
}
.score {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    border-radius: 50%;;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(256, 72%, 46%, .75), hsla(256, 72%, 46%, .5), hsla(256, 72%, 46%, 0));
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.score h1 {
    scale: 1.7;
}
.img-text {
    display: flex;
    gap: 10px;
}
.summary-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}
.reaction, .memory, .verbal, .visual {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 16px;
}
.reaction {
    background-color: hsla(0, 100%, 67%, .1);
}
.reaction .img-text {
    color: hsl(0, 100%, 67%);
}
.memory {
    background-color: hsla(39, 100%, 56%, .1);
}
.memory .img-text {
    color: hsl(39, 100%, 56%);
}
.verbal {
    background-color: hsla(166, 100%, 37%, .1);
}
.verbal .img-text {
    color: hsl(166, 100%, 37%);
}
.visual {
    background-color: hsla(234, 85%, 45%, .1);
}
.visual .img-text {
    color: hsl(234, 85%, 45%);
}
button {
    width: 100%;
    border: none;
    padding: 16px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 40px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
button:hover, button:focus {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
footer {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    padding-bottom: 20px;
}
footer a {
    text-decoration: none;
    font-weight: 600;
    color: black;
 }
 footer a:hover, footer a:focus {
    outline: none;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
 }
.gray {
    color: hsl(241, 100%, 89%);
}
@media (max-width: 750px) {
    main {
        width: 100%;
        flex-direction: column;
        border-radius: 0;
        font-size: 14px;
    }
    .your-result, .summary {
        width: 100%;
        border-radius: 0;
        gap: 10px;
    }
    .your-result {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .summary {
        padding: 20px 40px;
        gap: 25px;
    }
    .score {
        width: 120px;
        height: 120px;
    }
    footer {
        flex-direction: column;
        gap: 8px;
        text-align: center;
        font-size: 14px;
        margin-top: 15px;
    }
    footer a {
        text-decoration: none;
        font-weight: 600;
        color: black;
    }
    .reaction, .memory, .verbal, .visual, button {
        padding: 12px;
    }
}
@media (max-width: 320px) {
    main {
        min-width: 280px;
        font-size: 12px;
    }
    footer {
        font-size: 12px;
    }
}
@media (max-width: 250px) {
    main {
        min-width: 200px;
        font-size: 10px;
    }
}